.container {
  background-color: white;
  height: 400px;
  width: 500px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.btn {
  background-color: transparent;
  color: rgb(102, 74, 189);
  border: 2px solid rgb(102, 74, 189);
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'fredoka-one';
  margin: 10px;
}

.btn:hover {
  color: white;
  background-color: rgb(179, 183, 238);
}

.btn:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 40px;
  color: rgb(102, 74, 189);
}

.logoPic {
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: invert(50%) sepia(36%) saturate(2713%) hue-rotate(233deg) brightness(60%) contrast(87%);
}

.logoRow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
