:root{
/* 1 */
--gold: #ba9b37;
--brightGold: #ffc904;
--i: 0;
}

.App {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Two auto-sized columns */
  gap: 1rem;
  height: fit-content;
  justify-content: center;
  padding-top: 4%;
  font-family: 'fredoka-one', sans-serif;
}
body {
  font-family: 'VT323', monospace;
  background: rgb(220, 211, 226);
  color: rgb(61, 61, 61);
  letter-spacing: 2px;
}
@font-face {
    font-family: 'fredoka-one';
    src: url('../fonts/Insanibu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



