.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ba9b37;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: black;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 150px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
