@font-face {
    font-family: 'fredoka-one';
    src: url('../fonts/Insanibu.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6e56a7;
  color: white;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.rightHeader{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-title{
  font-size: 2rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.pfpHolder{
  margin-left: 8px;
}

.navSelect{
  font-family: 'fredoka-one', sans-serif;
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  font-family: 'fredoka-one', sans-serif;
  letter-spacing: 2px;
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: rgb(61, 61, 61);
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 8px;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
